# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- Depict a few examples of evaluating arithmetic expressions in Python

**Some of the popular languages that Data Scientists use are:**
1. Python
2. R
3. SQL

**Some commonly used libraries used by Data Scientists include:**
1. dplyr for R
2. ggplot2 for R
3. Pandas for Python
4. NumPy for Python

|**Data Science Tools**|
------------------------
|Spyder|
|RStudio|
|Anaconda Navigator|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This is a simple arithmetic expression to multiply then add integers
#(3*4)+5
print((3*4)+5)

17

In [8]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Alec Romero